@font-face {
	font-family: 'Roboto';
	src: url('res/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
	background-color: rgb(11, 37, 85);
	font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
}

.well {
	background-color: black;
}

.logo {
	height: 40px;
	width: 40px;
}

.post {
	border: 1px solid white;
	padding: 5px;
}

.panel {
	background-color: black;
	margin-top: 10%;
}

#profile-picture {
	position: absolute;
	top: 250px;
	left: 40px;
	height: 180px;
	width: 180px;
}

#profile-cover {
	height: 400px;
	width: 100%;
}

#profile-name {
	position: absolute;
	top: 330px;
	left: 230px;
}

.about {
	margin-top: 15%;
}

.navbar-brand {
	padding-top: 8px;
}

.input-group {
	width: 300px !important;
}

input[type=submit] {
	background: transparent;
	border: 0;
	text-indent: -60px;
	color: black;
	width: 100%;
}

input[type=text] {
	width: 100%;
}

input[type=submit]:hover {
	background: rgb(0, 0, 0);
	border: 0;
	color: white;
	width: 100%;
}

@media (max-width: 1025px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,
	.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav > li {
		float: none;
	}
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}

	.input-group {
		width: 100% !important;
	}

	input[type=submit] {
		background: white;
		border: 0;
		text-indent: -60px;
		color: black;
		width: 100%;
	}

	input[type=submit]:hover {
		background: rgb(0, 0, 0);
		border: 0;
		color: white;
		width: 100%;
	}
}
